### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [137]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [89]:
Number_of_Players = (purchase_data["SN"].value_counts()).count()
Player_count = pd.DataFrame({"Total Players":[Number_of_Players]})
Player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [90]:
Unique_items = (purchase_data["Item ID"].value_counts()).count()
Average_price = round(purchase_data["Price"].mean(),2)
Purchase_amount = len(purchase_data)
Total_revenue = round(purchase_data["Price"].sum(),2)
Purchasing_analysis = pd.DataFrame({"Number of Unique Items":[Unique_items],"Average Price":[Average_price],"Number Of Purchases":\
                                    [Purchase_amount],"Total Revenue":[Total_revenue]})
Purchasing_analysis

   Number of Unique Items  Average Price  Number Of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [91]:
Male_info = purchase_data.loc[purchase_data["Gender"] == "Male", :]
Female_info = purchase_data.loc[purchase_data["Gender"] == "Female", :]
Other_info = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]

Male_count = (Male_info["SN"].value_counts()).count()
Female_count = (Female_info["SN"].value_counts()).count()
Other_count = (Other_info["SN"].value_counts()).count()

Gender_demo = pd.DataFrame({"Total Count": [Male_count,Female_count,Other_count], \
                            "Percentage": [round(Male_count*100/Number_of_Players,2),round(Female_count*100/Number_of_Players,2),\
                                           round(Other_count*100/Number_of_Players,2), ]},\
                           index = ["Male","Female","Other / Non-Disclosed"])
Gender_demo

                       Total Count  Percentage
Male                           484       84.03
Female                          81       14.06
Other / Non-Disclosed           11        1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [135]:
purchase_data2 = purchase_data.set_index("SN")
purchase_data2 = purchase_data.drop_duplicates(subset = "SN", keep = "first")
purchase_data2

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97
729,729,Assylla81,20,Male,74,Yearning Crusher,4.18
730,730,Aidaira26,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
731,731,Eudanu84,22,Female,12,Dawne,1.02
733,733,Chamiman85,20,Male,66,Victor Iron Spikes,4.40
736,736,Tyialisti80,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
737,737,Marundi65,22,Male,149,"Tranquility, Razor of Black Magic",1.75
738,738,Eusur90,36,Male,121,Massacre,1.60
739,739,Mindirranya33,35,Male,61,Ragnarok,3.87
741,741,Phiallylis33,19,Male,145,Fiery Glass Crusader,4.58
742,742,Isty55,20,Male,5,Putrid Fan,4.08
743,743,Frichilsa31,15,Male,110,Suspension,1.44
745,745,Chanista95,39,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
746,746,Aellyria80,23,Male,159,"Oathbreaker, Spellblade of Trials",3.08
748,748,Rastynusuir31,20,Male,55,Vindictive Glass Edge,2.27
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
765,765,Irith83,18,Male,130,Alpha,2.07
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

                 Purchase ID  Age  Item ID  Price
SN
Adairialis76             467   16      123   2.28
Aeda94                   388   17      128   4.91
Aela59                    28   21      119   4.32
Aelaria33                630   23      171   1.79
Aelastirin39             984   46      134   7.29
Aelidru27                705   22      183   1.09
Aelin32                  723   60      326   8.98
Aelly27                  471   48      130   6.79
Aellynun67               286   25      153   3.74
Aellyria80               746   23      159   3.08
Aelollo59                634   66      175   5.63
Aenarap34                183   21       15   2.96
Aeral43                  263   24       78   4.40
Aeral68                  674   43       77   4.00
Aeral97                  167   23      157   4.80
Aeralria27                32   10      133   4.09
Aeralstical35            583   20       49   2.96
Aeri84                   303   24       71   1.61
Aerillorin70             381   16       83   3.33
Aerithnucal56            324   15      154   4.40
Aerithnuphos61           517   39      128   4.91
Aerithriaphos45           40   20      143   1.56
Aerithriaphos46          236   16      107   2.18
Aesri53                  541   31      161   1.76
Aesty53                  377   42      178   3.91
Aestysu37                725   50      183   5.38
Aesur96                  468   23       30   2.21
Aesurstilis64            405   25       70   1.03
Aidai53                  219   19       57   4.60
Aidai61                  282   21      155   1.01
...                      ...  ...      ...    ...
Undirrala66              337   44      292   5.47
Undirrasta89             462   20      144   1.94
Undista85                354   21      163   3.45
Undjask33                  8   22       21   1.10
Undjaskla97             1010   66      194   5.32
Undosia27                229   17       72   3.77
Undosian34               710   42      169   8.30
Undotesta33              704   18       95   4.74
Yadacal26                834   30       69   6.54
Yadaisuir65              625   20      133   4.09
Yadam35                  553   28        2   2.48
Yadanu52                  60   34       44   2.38
Yadaphos40               483   60      204   5.35
Yalae81                  452   44      201   6.69
Yalaeria91               681   33       28   1.06
Yaliru88                  59   19      105   3.03
Yalo85                   383   34       11   3.65
Yalostiphos68            518   29      160   4.40
Yarithllodeu72           364   22       88   3.75
Yarithrgue83             279   20      163   3.45
Yarithsurgue62           231   26      139   4.94
Yarolwen77               696   30       87   4.43
Yasrisu92                 46   27      102   3.44
Yastyriaphos75           340   22       41   4.75
Yasur35                  257   26      175   4.48
Yasur85                  514   21       21   1.10
Yathecal72               777   20       67   3.46
Yathedeu43               688   44      143   6.02
Zhisrisu83               195   20       85   7.89
Zontibe81               1019   63      247   8.03

[484 rows x 4 columns]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80